<%= render 'layouts/sidebar_sorting' %>

<div id="profildetails">
    <div id="profilhead">
      <%= link_to image_tag(avatar_url(@user, 140)), @user, :class=>"pic" %>
      <h5><%= @user.name %></h5>
      <p class="infos">
        Studiengang: MMA-B2009<br />
        Fachbereich: Mediendesign<br /><br />
        <b>E-Mail:</b> <%= mail_to @user.email, @user.email, :encode => "javascript" %><br />
        <b>Telefon:</b> <%= @user.telephone %><br />
        <b>Web:</b> <%= link_to @user.web, @user.web %>
      </p>
      <div class="clean hide"></div>
    </div> 
  
</div>

<%= render 'dashboards/sidebar' %>