<%= render 'layouts/sidebar_sorting' %>

<div id="profildetails">
    <div id="profilhead">
      <%= link_to image_tag(avatar_url(@user, 140)), @user, :class=>"pic" %>
      <div class="infos">
        <h4><%= @user.name %></h4>
        <p>
          <br />
          <br /><br />
          <span>E-Mail:</span> <%= mail_to @user.email, @user.email, :encode => "javascript", :class=>"link" %><br />
          <span>Telefon:</span> <%= @user.telephone %><br />
          <span>Web:</span> <%= link_to @user.web, external_url(@user.web), :target => "_blank", :class=>"link" %>
        </p>
      </div>
      <div class="clean hide"></div>
    </div>
 		<% if !@user.statement.nil? %>
    <div id="profilstatement">
			<h5 class="noedit">Statement</h5>
			<div><%= simple_format @user.statement %></div>
	  </div>
	  <% end %>
    <div id="projectportfolio">
      <h5 class="noedit"><%= @user.name %>'s Projekte <span>(<%= @user.involved_projects.count %>)</span></h5>
      <ul>
      <% if @user.involved_projects.any? %>
      <% @user.involved_projects.each_with_index do |p, idx| %>
        <li class="<% if (idx+1) % 5 == 0 %>nomarg<% end %>">
          <%= link_to image_tag(p.cover_url, :class=>"pic"), p %>
          <p>
            <%= link_to trimString(p.title, 20), p %><br />
            <b>Job:</b> <%= trimString(p.has_members.where("user_id = #{@user.id}").first.job, 13) %>
          </p>
        </li>
      <% end else %>
      <p class="nodisplay"><i>Keine Projekte &hellip;</i></p>
      <% end %>
      </ul>
    </div>
</div>