<%= render 'layouts/sidebar_sorting' %>

<div id="profildetails">
    <div id="profilhead">
      <%= link_to image_tag(avatar_url(@user, 140)), @user, :class=>"pic" %>
      <h5><%= @user.name %></h5>
      <p class="infos">
        Studiengang: MMA-B2009<br />
        Fachbereich: Mediendesign<br /><br />
        <b>E-Mail:</b> <%= mail_to @user.mail, @user.mail, :encode => "javascript" %><br />
        <b>Telefon:</b> <%= @user.telephone %><br />
        <b>Web:</b> <%= link_to @user.web, @user.web %>
      </p>
      <div class="clean hide"></div>
    </div> 
    <div id="projectportfolio">
      <h5 class="noedit"><%= @user.name %>'s Projekte <span>(<%= @all_projects.count %>)</span></h5>
      <ul>
      <% if @active_projects.first != nil %>
      <% @ind = 0
      @all_projects.each do |p| %>
        <% @ind = @ind + 1  %>
        <li class="<% if @ind % 4 == 0 %>nomarg<% end %>">
          <%= link_to image_tag(p.cover.asset.url :cover), p, :class=>"pic" %>
          <p>
            <%= link_to strim(p.title, 16), p %><br />
            <b>Job:</b> <%= strim(p.roles.where("user_id = #{@user.id}").first.job, 12) %>
          </p>
        </li>
      <% end else %>
      <p class="nodisplay"><i>Keine Projekte &hellip;</i></p>
      <% end %>
      </ul>
    </div>
</div>

<%= render 'dashboards/sidebar' %>