	<div class="inline">
    <%= form_for @project, :remote => true do |f| %>
      <%= hidden_field_tag 'field', 'status' %>
      <%= render 'dialog' %>
      <br /><br />
      <label>Status:</label><br /><%= select "project", "status", options_for_select([[@status_names['idea'],'idea'],[@status_names['inprogress'],'inprogress'],[@status_names['finished'],'finished']], @project.status), :class=>"left", :id=>"formEStatus" %>
      <div class="clean hide"></div>
     
     <%= render 'submit_buttons' %>
   <% end %>
	</div>