<div class="inline">
  <%= form_for @project, :remote => true do |f| %>
    <%= hidden_field_tag 'field', 'team' %>
    <%= render 'dialog' %>
      <div id="memberlist">
        <% @project.roles.each do |r| %>
          <div class="member no<%= r.id %>">
            <%= link_to image_tag(avatar_url(r.user, 40)), r.user, :class=>"pic" %>
            <p>
              <% if r != @owner %><a href="javascript:memberDelete('<%= r.id %>');" class="right"><img src="/images/delete.png" /></a><% end %>
              <b><%= r.user.name %></b><br><%= text_field_tag "roles[]",r.job, :class=>"editjob" %>
            </p>
          </div>
        <% end %>	
        <div class="hide">
        <% @project.roles.each do |r| %>
           <%= check_box_tag "project[role_ids][]", r.id, @project.roles.include?(r), :class=>"hiddenroles" %>
          <% end %>
        </div>
      </div>
  <%= render 'submit_buttons' %>
  <% end %>
</div>