<%= render 'layouts/sidebar_sorting' %>

<div id="projectdetails">
  <div id="topbar">
    <%= link_to @project, :class=>"stdBtn" do %><p>Zurück zum Projekt</p><%= image_tag "back.png" %></a><% end %>
  </div>

  <div id="projectinfo">
    <%= render "info_form"%>
  </div>
</div>

<div id="rightbar">
  <!-- PROGRESS -->
  <div id="projectprogress">
    <h5 class="noedit">Projektstatus</h5>
    <%= render "status_form" %>
  </div>

  <!-- JOBS -->
  <div id="searchingmember">
    <h5 class="noedit">Auf der Suche nach <span>(<%= @project.jobs.count %>)</span></h5>
    <%= render "jobs_form" %>
  </div>

  <!-- TEAM -->
  <div id="teammember">
    <h5 class="noedit">Team <span>(<%= @project.roles.count %>)</span></h5>
    <%= render "team_form" %>
  </div>
</div>