<%= render 'layouts/sidebar_sorting' %>
<div id="overview">
<% 
  @projects.each do |p| 
    @owner = p.roles.where(:role => 'owner').first.user
%>
<div class="boxcontent">
  <div class="projectcategory mmt"><% if !p.categories.first.nil? %> <%= p.categories.first.label %> <% end %></div>
  <!-- <div class="projectstatus">
    <span class="statusconcept">Konzept</span>
    <span class="statussearch">Gesucht</span>
  </div> -->
  <div class="projectinfo">
    <h3><%= p.title %></h3>
    <span class="projectimg">
      <%= link_to p do %>
      <img src="images/projektimg.jpg">
      <% end %>
    </span>
    <span class="infotxt">
      <p>
      
      <%= p.description %>
      </p>
    </span> 
    <%= link_to p, :class =>'details' do image_tag "details-arrow.png" end %>
  </div>
  <div class="projectadmin">
    <p class="left">von <%= link_to @owner.name, @owner %></p>
    <p class="right"><b><%= p.followers.count %></b> Beobachter</p>
  </div>
</div>
<% end %>
<br class="clean" />
<%= will_paginate @projects %>
</div>
