<%= render 'layouts/sidebar_sorting' %>
<div id="overview">
  <% 
    @projects.each do |p| 
      @owner = p.roles.where(:role => 'owner').first.user
  %>
    <div class="boxcontent">
      <div class="projectcategory mmt"><% if !p.categories.first.nil? %> <%= p.categories.first.label %> <% end %></div>
      <div class="projectinfo">
        <h3><%= strim p.title, 30 %></h3>
        <%= link_to image_tag(p.cover_url), p %>
        <p class="infotxt"><%= strim p.description, 225 %></p>
        <%= link_to p, :class =>'details' do image_tag "details-arrow.png" end %>
      </div>
      <div class="projectadmin">
        <p class="left">von <%= link_to @owner.name, @owner %></p>
        <p class="right"><b><%= p.followers.count %></b> Beobachter</p>
      </div>
    </div>
  <% end %>
  <div class="clean hide"></div>
  <%= will_paginate @projects %>
</div>
