<%= form_for @project, :remote => true, :url => { :action => "create" } do |f| %>
  <h1>Neues Projekt anlegen</h1>

  <div class="inputfield">
    <h2>Projekttitel</h2>
      <%= f.text_field :title, :class => "projekttitel", :placeholder => "Titel für ihr Projekt eingeben" %>
  </div>

  <div class="inputfield">
    <h2>Beschreibung</h2>
      <%= f.text_area :description, :class => "kurzbeschreibung", :placeholder => "Kurzbeschreibung für ihr Projekt eingebenen" %>
  </div>

  <div class="inputfield">
    <h2>Kategorie</h2>
    <div id="categories_list">
      <%= fields_for :categories do |builder| %>
        <%= builder.select(:id, Category.all.collect { |c| [ c.label, c.id ] }, {:include_blank => '[Bitte wählen]'}, { :index => nil, :class => "category" }) %>
        <%= builder.select(:id, Category.all.collect { |c| [ c.label, c.id ] }, {:include_blank => '[Bitte wählen]'}, { :index => nil, :class => "category" }) %>
        <%= builder.select(:id, Category.all.collect { |c| [ c.label, c.id ] }, {:include_blank => '[Bitte wählen]'}, { :index => nil, :class => "category" }) %>
      <% end %>
    </div>

  </div>

  <div class="inputfield">
    <h2>Sichbarkeit</h2>
      <%= f.check_box :isPublic, :checked => "checked" %>
      <%= f.label :isPublic, "Projekt ist für alle sichtbar" %>
  </div>

  <div class="inputfield">
    <h2>Tätigkeit</h2>
      <span class="name">owner name </span>
        <%= fields_for :job do |builder| %>
          <%= builder.text_field :name, :class => "taetigkeit", :placeholder => "Tätigkeit" %>
        <% end %>
  </div>
  <%= f.submit "Projekt erstellen" %>
<% end %>
