<%= form_for @project, :remote => true, :url => { :action => "create" } do |f| %>
  <h1>Neues Projekt anlegen</h1>

  <div class="inputfield">
    <h2>Projekttitel</h2>
      <%= f.text_field :title, :class => "projekttitel", :placeholder => "Titel für ihr Projekt eingeben" %>
  </div>

  <div class="inputfield">
    <h2>Beschreibung</h2>
      <%= f.text_area :description, :class => "kurzbeschreibung", :placeholder => "Kurzbeschreibung für ihr Projekt eingebenen" %>
  </div>
        <div class="inputfield">
          <h2>Beschreibung</h2>
          <p>Beschreibung zum Projekt Max. 300 Wörter</p>
            <%= f.text_area :description, :class => "kurzbeschreibung", :placeholder => "Kurzbeschreibung für ihr Projekt eingebenen" %>
        </div>
  
				<div class="inputfield">
					<h2>Kategorie</h2>
					<p>Kategorien für das Projekt. <br/>Es ist mindestens <b>1</b> Kategorie erforderlich.</p>
					<%= select_tag :category, options_from_collection_for_select(Category.all.each, "id", "label"), :id => "formECat", :include_blank => 'Auswählen ...' %><br/>
					<ul class="category">
		      <script type="text/javascript">
		      <% @project.categories.each do |c| %>
		         <% cats = Category.where("label = ?", c.label).first.id %>
		           catAdd('<%= cats %>', "<%= c.label %>");
		         <% end %>
		      </script>
		      </ul>
		      <div class="hide">
		      <% @categories = Category.all
		      @categories.each do |category| %>
		        <div>
		         <%= check_box_tag "project[category_ids][]", category.id, @project.categories.include?(category), :class => "hiddencat" %>
		        </div>
		      <% end %>
		    </div>
					
				</div>
				
				<div class="inputfield">
					<h2>Sichbarkeit</h2>
					<p>Entscheide ob das Projekt für alle Nutzer sichtbar ist, oder ob nur die Teammitglieder das Projekt sehen können</p>
						<%= f.check_box :isPublic, :checked => "checked" %>
						<%= f.label :isPublic, "Projekt ist für alle sichtbar" %>
				</div>
				
				<div class="inputfield">
					<h2>Tätigkeit</h2>
					<p>Deine Tätigkeit(en) im Projektteam.</p>
						<span class="name">owner name </span>
						  <%= fields_for :job do |builder| %>
								<%= builder.text_field :name, :class => "taetigkeit", :placeholder => "Tätigkeit" %>
							<% end %>
				</div>

  </div>

  <div class="inputfield">
    <h2>Sichbarkeit</h2>
      <%= f.check_box :isPublic, :checked => "checked" %>
      <%= f.label :isPublic, "Projekt ist für alle sichtbar" %>
  </div>

  <div class="inputfield">
    <h2>Tätigkeit</h2>
      <span class="name">owner name </span>
        <%= fields_for :job do |builder| %>
          <%= builder.text_field :name, :class => "taetigkeit", :placeholder => "Tätigkeit" %>
        <% end %>
  </div>
  <%= f.submit "Projekt erstellen" %>
<% end %>
