<% @open_jobs = get_open_jobs @project %>
<%= render 'layouts/sidebar_sorting' %>
<%= render 'rightbar' %>

<div id="projectdetails">
  <div id="topbar">
    <%= link_to '', :class=>"stdBtn" do %><p>Beobachten</p><%= image_tag "spec.png" %></a><% end %>
    <%= link_to edit_project_path, :class=>"stdBtn mleft" do %><p>Projekt bearbeiten</p><%= image_tag "details-arrow.png" %></a><% end %>
  </div>

  <div id="projectinfo">
    <div class="edit">
      <div class="image">
        <%= image_tag @project.cover.asset.url(:cover) %>
        <%= link_to "Edit", "javascript:editing(false, '#projectinfo');", :class=>"editBtnHor" %>
      </div>
      <div id="projecthead">
        <h5><%= @project.title %></h5>
        <ul class="category">
          <% @project.categories.each do |c| %>
            <li><%= c.label %></li>
          <% end %>
        </ul>
      </div>
      <p class="desc"><%= @project.description %></p>
    </div>
    <%= render 'info_form' %>
  </div>
  
  <div id="media" class="edit">
    <h5><%= link_to "Edit", "javascript:editing(false, '#media');", :class=>"editBtn" %>Mediadaten <span>(<%= @project.media.count %>)</span></h5>
    <% if @project.images.first != nil %>	
      <% @project.images.each do |m| %>
        <%= image_tag m.asset.url(:medium) %>
      <% end %>
    <% end %>
    <%= link_to "Mediadaten", [ @project, :media ] %>
  </div>
</div>

