<div id="projectdetails">
  <div id="topbar">
    <div id="editbuttons">
        <input type="button" name="Statusupdate" value="Statusupdate" />
        <%= link_to 'Projekt bearbeiten', edit_project_path %>
    </div>
  </div>
  <div id="projectinfo">
    <img src='../images/projektimg.jpg' alt='' />
	  <div id="projecthead">
      <h5><%= @project.title %></h5>
      <ul class="category">
        <% @project.categories.each do |c| %>
          <li><%= c.label %></li>
        <% end %>
      </ul>
    </div>
    <p><%= @project.description %></p>
  </div>
  <div id="media">
	<h5>Mediadaten</h5>
	<p>
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	  <img src="#" />
	</p>
  </div>
</div>

<div id="rightbar">
  <div id="projectprogress">
  <h5>Projektfortschritt</h5>
  </div>
  <div id="searchingmember">
    <h5>Auf der Suche nach</h5>
    <ul>
      <% @open_jobs.each do |j| %>
      <li>» <%= j.name %></li>
      <% end %>
    </ul>
    <a class="stdBtn" href=""><p>Bewerben</p><%= image_tag "details-arrow.png" %></a>
  </div>
  <div id="teammember">
  <h5>Team</h5>
  <div id="memberlist">
    <div class="member">
      <%= image_tag "user-40.jpg" %>
      <p><b><%= @owner.user.name %></b><br><span class="sl"><b style="color:#009ee3;">Gründer</b>, <%=  @owner.job.name %></span></p>
    </div>
    <hr />
    <% @project.roles.each do |r|
      if r != @owner
     %>
    <div class="member">
      <%= image_tag "user-40.jpg" %>
      <p><b><%= r.user.name %></b><br><span class="sl"><%= r.job.name %></span></p>
    </div>
  <% end end %>	
  </div>
  </div>
  <div id="follower">
  <h5>Beobachter</h5>
  <div id="followerlist">
  <% @project.followers.each do |f| %>
    <%= image_tag "user-40.jpg", :title=>f.user.name, :class =>"tooltip" %>
  <% end %>
  </div>
  </div>
</div>
</div>