<%= render 'layouts/sidebar_sorting' %>

<div id="dashboardarea">
	<ul id="stdProjectStatusUpdates">
	  <% @statusupdates.each do |su| %>
      <li class="dash">
        <div class="proj">
           <%= link_to su.project.title, su.project, :class=>"title" %>
           <%= link_to image_tag(su.project.icon_url), su.project, :class=>"pic" %><br />
		  <% case su.html_tmpl_key %>
        <% when 'POST' %>
          <div class="post">
            <p><%= link_to su.user.name, su.user %>: &#132;<%= su.content %>&#147;</p>
        <% when 'EDIT' %>
          <div class="line"><%= image_tag 'tny-edit.png' %><%=raw su.content %>
        <% when 'STATUS' %>
          <div class="status"><%=raw su.content %>
        <% when 'JOBS' %>
          <div class="jobs"><%=raw su.content %>
        <% when 'JOBS2' %>
          <div class="jobs2"><%=raw su.content %>
        <% when 'MEDIA' %>
          <div class="line2"><%=raw su.content %>
        <% when 'TEAM' %>
          <div class="team"><%= link_to su.user.name, su.user %> <%=raw su.content %>
        <% when 'TEAM_DELETE' %>
          <div class="team2"><%= link_to su.user.name, su.user %> <%=raw su.content %>
		  <% end %>
        <sub><%= formatDate su.created_at, true, true %></sub>
		</div></div>
      </li>
		<% end %>
  </ul>
  <% if @statusupdates.empty? %>
    <p class="nodisplay"><i>Keine Statusupdates &hellip;</i></p>
  <% end %>
  <div class="clean hide"></div>
  <%= will_paginate @statusupdates %>
</div>

<%= render 'sidebar' %>
<%= render 'projects/overlay_form' %>