<%= render 'layouts/sidebar_sorting' %>

<div id="dashboardarea">
		<ul id="stdProjectStatusUpdates">
	  <% @statusupdates.each do |su| %>
			<% case su.html_tmpl_key %>
        <% when 'POST' %>
            <li class="post">
          <%= link_to image_tag(avatar_url(su.user, 40)), su.user, :class=>"pic" %>
          <p><%= link_to su.user.name, su.user %><br/><%= su.content %></p>
          <sub><%= fdate su.created_at, true, true %></sub>
        </li>
        <% when 'EDIT' %>
          <li class="line"><%= image_tag 'tny-edit.png' %><%=raw su.content %><sub><%= fdate su.created_at, true, true %></sub></li>
        <% when 'STATUS' %>
          <li class="status"><%=raw su.content %><sub><%= fdate su.created_at, true, true %></sub></li>
        <% when 'JOBS' %>
          <li class="jobs"><%=raw su.content %><sub><%= fdate su.created_at, true, true %></sub></li>
        <% when 'JOBS2' %>
          <li class="jobs2"><%=raw su.content %><sub><%= fdate su.created_at, true, true %></sub></li>
        <% when 'MEDIA' %>
          <li class="line2"><%=raw su.content %><sub><%= fdate su.created_at, true, true %></sub></li>
		  <% end %>
		<% end %>
	  </ul>
	  <% if @statusupdates.empty? %>
		  <p class="nodisplay"><i>Keine Statusupdates &hellip;</i></p>
	  <% end %>
    <div class="clean hide"></div>
    <%= will_paginate @statusupdates %>
</div>

<%= render 'sidebar' %>
<%= render 'notifications/overlay' %>