    <table id="searchresults">
      <tbody>
        <% @results.each do |p| %>
          <tr>
            <td class="pic"><%= link_to image_tag(p.icon_url), p %></td>
            <td class="title"><%= link_to p do %><h6><%= p.title %></h6><% end %><p>am <b><%= formatDate p.created_at %></b></p></td>
            <td class="count">
              <% if @cat == 'Projekte' %>
                <%= pluralize(p.has_members.count, "Teammitglied") %>, <%= pluralize(p.has_followers.count, "Beobachter") %><br />
              <% end %>
              <% if p.jobs.count > 0 %>
                <span><%= image_tag "jobs.png" %></span> 
                <b><%= pluralize(p.jobs.count, "Job") %></b>
              <% end %>
              <br />
              <% if @cat == 'Jobs' %>
                <ul>
                <% p.jobs.each do |j| %>
                  <li><%= j.name %></li>
                <% end %>
                </ul>
              <% end %>
            </td>
            <td class="follow">
              <%= link_to p, :class=>"stdBtn" do %><p>Ansehen</p><%= image_tag "details-arrow.png" %></a><% end %>
              <% if !p.followers.include? current_user %>
                <%= link_to follow_project_path(p), :method => :put, :class=>"stdBtn" do %><p>Beobachten</p><%= image_tag "spec.png" %></a><% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
