﻿<%= render 'layouts/sidebar_sorting' %>
<div id="overview" class="search">
	<% @warning = @results.size == 0 ? " warning" : "" %>
	  <p class="stdNotice <%= @warning %>"><b><%= @results.size %></b> Suchergebnis<% if @results.size>1 || @results.size==0%>se<% end %> für &#132;<i><%= params[:search] %>&#147;</i></p>
<% @results.each do |p|
    @owner = p.roles.where(:role => 'owner').first.user
    @jobs = get_open_jobs p
  
    # singular/plural
    @sinplu = p.roles.count > 1 ? "er" : ""
    @spjobs = @jobs.count != 1 ? "offene Jobs" : "offener Job"
  %>
  <table id="searchresults">
    <tbody>
      <tr>
        <td class="pic"><%= link_to image_tag("user-40.jpg"), p %></td>
        <td class="title"><%= link_to p do %><h6><%= p.title %></h6><% end %><p>am <b><%= fdate p.created_at %></b></p></td>
        <td class="count"><span><%= p.roles.count %></span> Teammitglied<%= @sinplu %>, <span><%= p.followers.count %></span> Beobachter
          <% if @jobs.count > 0 %><br /><span><%= image_tag "jobs.png" %><%= @jobs.count %></span> <b><%= @spjobs %></b></td><% end %>
        <td class="follow">
          <%= link_to p, :class=>"stdBtn" do %><p>Ansehen</p><%= image_tag "details-arrow.png" %></a><% end %>
          <%= link_to '', :class=>"stdBtn" do %><p>Beobachten</p><%= image_tag "spec.png" %></a><% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
</div>