﻿<%= render 'layouts/sidebar_sorting' %>
<div id="overview" class="search">
	<% @warning = @results.count == 0 ? " warning" : "" %>
  <p class="stdNotice <%= @warning %>">
    <b><%= @results.count %></b> Suchergebnis<% if @results.size>1 || @results.size==0%>se<% end %> 
    für &#132;<i><%= params[:search] %>&#147;</i> 
    in <b><%= @cat %></b>
  </p>
    
  <% if @cat != 'User' %>
    <%= render 'projects_search' %>
  <% else %>
    <%= render 'user_search' %>
  <% end %>
  
  <div class="clean hide"></div>
  <%= will_paginate @results %>
</div>