<!DOCTYPE html>
<html>
<head>
  <title>Projektplattform</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.js", "rails.js", "jqueryinit.js" %>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1 id="logo"><% link_to :root do %><img src="/images/logo.png" alt="Projektplattform" /><% end %></h1>
      <div id="profilemenu">
        <div id="profilemenuborder">
          <div class="user">Gregor Sams</div>
          <div class="icons">
              <ul>
                  <li class="message"><a href="#">Nachricht</a></li>
                  <li class="project"><a href="#">Projekte</a></li>
              </ul>
          </div>
          <div class="logout"><a href="#">Logout</a></div>
        </div>
      </div>
      <div id="menubar">
        <div id="menu">
          <ul>
          
            <li<% if request.request_uri != "/dashboards" %> class="active"<% end %>><%= link_to "Projekte", :root%></li>
            <li<% if request.request_uri == "/dashboards" %> class="active"<% end %>><%= link_to "Dashboard", :dashboards %></a></li>
          </ul>
        </div>
        <div id="searchbar">
          <% form_tag searchs_path, :method => 'get' do %>
            <p>
              <%= text_field_tag :search, params[:search], :class => "keyword", :placeholder => "Suche nach" %>
              <%= select_tag "category", options_for_select([['Projekte','projects'],['User','users'],['Job','jobs']]) %>
              <%= submit_tag "Search", :class => "send" %>
            </p>
          <% end %>
        </div>
      </div>
    </header>
    <section>
            <div id="topborder">
              <div id="contentwrapper">
                
				<%= yield %>
            </div>
          </div>
    </section>
    <footer>
      <div id="footercontent">
          <div class="sitemap">
              <h4>Kategorien</h4>
              <ul>
                  <li><a href="#">Mediendesign</a></li>
                  <li><a href="#">Film</a></li>
                  <li><a href="#">Animation</a></li>
                  <li><a href="#">Audio</a></li>
                  <li><a href="#">Gamedesign</a></li>
                  <li><a href="#">Web</a></li>
              </ul>
            </div>
            <div class="sitemap">
              <h4>Profil</h4>
              <ul>
                    <li><a href="#">mein Profil anzeigen</a></li>
                    <li><a href="#">mein Profil bearbeiten</a></li>
                    <li><a href="#">Profile suchen</a></li>
                </ul>
            </div>
            <div class="sitemap">
              <h4>Projekte</h4>
              <ul>
                    <li><a href="#">Projekte anzeigen</a></li>
                    <li><a href="#">Projekte suchen</a></li>
                    <li><a href="#">Projekt neu anlegen</a></li>
                    <li><a href="#">meine Projekte anzeigen</a></li>
                    <li><a href="#">Projekt bearbeiten</a></li>
                </ul>
            </div>
            <div id="mediacube">
              <ul>
                    <li class="linkmma"><a href="#">MultiMediaArts</a></li>
                    <li class="linkmmt"><a href="#">MultiMediaTechnologie</a></li>
                    <li class="linkfh"><a href="#">Fachhochschule Salzburg</a></li>
                </ul>
            </div>
        </div>
    </footer>
  </div>
</body>
</html>
